<h1>Ian Gerstel</h1>
<div class="span2">
	<img src="/ian.jpg" alt="Ian" height="100" width="100">
</div>
A national man of mystery, Ian travels the country learning the secrets of web development and exterminating zombies wherever he finds them*. Aside from exercise and computer stuff, Ian sometimes dabbles in guitar, awful facial hair, and terrible cooking.
<br><br><br><br><br><br>
<h1>Nicole</h1>
<div class="span2">
	<img src="/nicole.jpg" alt="Nicole" height="100" width="100">
</div>
Aside from being great at the Starbucks, Nicole has seen like every horror movie ever made, ever. A veritable font of knowledge of fountains of gore, Nicole can tell in an instant what type of zombie she is presented with, and can give a detailed list of its strengths and weaknesses.
<br><br><br><br><br><br>
<h1>Evan Gerstel</h1>
<div class="span2">
	<img src="/evan.jpg" alt="Evan" height="100" width="100">
</div>
Aside from being a martial artist who has read basically every piece of literature relating to zombie outbreaks, Evan is an actor! You probably could tell from the headshot. What I'm saying is, you should really hire him to do all things film/theatre related, because he's pretty good!
<br><br><br><br><br><br>
* Ian has yet to find any zombies and has exterminated exactly 0 to date.